{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<!-- Hero image -->
<section class="hero-image d-flex align-items-center">
    <div class="container">
        <h2 class="fs-1 m-0">Easy Outdoor Co.</h2>
        <p class="fs-3 mb-1">World class products, built for adventure.</p>
        <button class="shop-btn fs-5">Shop Now</button>
    </div>
</section>

<!-- Shopping panels -->
<section class="shop-panel-section pb-4">
    <div class="container">
        
        <div class="row">
            <div class="col-12 col-sm-4 d-inline-block py-2">
                <div class="shop-panel" style="background-image: url('https://res.cloudinary.com/dn8zjehza/image/upload/v1672946030/Easy%20Outdoor%20Co/pexels-andy-vu-3217911_1_1_j7rdpa.jpg');">
                    <div class="panel-content fs-1 d-flex align-items-center justify-content-center">
                        <h5 class="m-0 sale">On Sale</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 d-inline-block py-2">
                <div class="shop-panel" style="background-image: url('https://res.cloudinary.com/dn8zjehza/image/upload/v1673007930/Easy%20Outdoor%20Co/lucas-ludwig-YFvABy5kklQ-unsplash_lgxaju.jpg');">
                    <div class="panel-content fs-1 d-flex align-items-center justify-content-center">
                        <h5 class="m-0">Clothing</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 py-2">
                <div class="shop-panel" style="background-image: url('https://res.cloudinary.com/dn8zjehza/image/upload/v1673007969/Easy%20Outdoor%20Co/pexels-pixabay-532803_krodsv.jpg');">
                    <div class="panel-content fs-1 d-flex align-items-center justify-content-center">
                        <h5 class="m-0">Equipment</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About us -->
<section class="about-us py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 d-lg-table-cell container about-content">
                <h3 class="fs-1">Built for Adventure.</h3>
                <p class="fs-5">
                    Every adventure starts with a jacket, a pair of shoes and a backpack.
                    That’s why we stock only the best outdoor brands fit for every terrain.
                </p>
                <p class="fs-5">
                    We know first hand the importance of reliable and durable clothing and equipment;
                    our own products reflect this, and any outside brands we stock have to meet this
                    requirement.
                </p>
                <p class="fs-5 m-0">Whatever the journey is, we have you covered - by explorers for explorers.</p>
            </div>
            <div class="d-none d-lg-table-cell col-6"><img class="about-img" src="https://res.cloudinary.com/dn8zjehza/image/upload/v1673009119/Easy%20Outdoor%20Co/patrick-hendry-PQa5vHHnpm4-unsplash_g1czgu.jpg" alt=""></div>
        </div>
    </div>
</section>

<!-- Related products -->
<section class="related-products py-5">
    <div class="container">
        <h2>Related Products</h2>
    </div>
</section>

{% endblock %}