@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap");

/* Hero image */
.hero-image {
    background: url("/media/hero-img.png") 50% 75%;
    background-size: cover;
    color: white;
    min-height: 60vh;
}


.hero-image h2 {
    font-family: Bungee, sans-serif;
    font-weight: 900;
}

.hero-image p {
    font-family: Montserrat;
    font-weight: 700;
}

/* Shop panel links */

.shop-panel-section {
    width: 100vw;
    background-color: #272727;
}

.shop-panel {
    width: 90%;
    height: 0;
    padding-bottom: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative
}

.panel-content {
    background-color: rgba(39, 39, 39, 0.500);
    position: absolute;
    height: 100%;
    width: 100%;
}

.panel-content:hover {
    background-color: rgba(39, 39, 39, 0.671);
    transition: all ease 0.2s;
}

.panel-content > h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    color: white;
}
/* About us area */

.about-us {
    background-color: #474747;
}

.about-content {
    font-family: Montserrat, sans-serif;
    color: white;
    border-left: 20px solid #FFFFFF;
}

.about-content h3 {
    font-weight: 900;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content p {
    font-size: 1.25rem!important;
}

/* Related products */

.related-products {
    background: #FFFFFF;
}

.related-products h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

.product-img {
    width: 250px;
    height: 350px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FAQ page */

.faq-section h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

.faq-section .logo {
    width: 150px;
    height: 150px;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    box-shadow: none!important;
}

/* XX-Large devices (larger desktops, 1400px and down) */
@media screen and (max-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
    .about-content p {
        font-size: 1rem!important;
    }
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {
    .faq-section .row {
        width: 70%!important;
    }

}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
    .shop-panel {
        width: 100%;
        padding-bottom: 100%;
    }

    .faq-section .row {
        width: 80%!important;
    }

    .about-content > p {
        font-size: 1rem;
    }

    .hero-image {
        min-height: 50vh;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
    .hero-image {
        align-items: flex-start!important;
        padding-top: 10vh;
        text-align: center;
    }

    .shop-btn {
        font-weight: 700;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: none;
    }

    .shop-panel {
        width: 80%;
        padding-bottom: 80%;
    }

    .about-us {
        padding: 0 5%;
        text-align: center;
    }

    .about-content {
        border-left: none;
    }

    .about-content > div {
        padding: 0!important;
    }

    .faq-section .row {
        width: 95%!important;
    }
}

