@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap');

body{
    background-color: #f8f8f8!important;
}

.admin-section {
    font-family: Nunito, sans-serif;
    max-width: 100vw;
}

.admin-section h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900!important;
}

.admin-section h3 {
    font-family: Montserrat, sans-serif!important;
}


/* Sidebar */

.nav-link:hover {
    color: #000000;
    background-color: #b0a9a9;
}

.nav-link:active {
    color: #ffffff;
}

/* Delete product img */
.product-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Order detail */
.order-detail {
    width: 50%;
    padding: 20px;
}

.note-editor {
    width: 400px;
}

/* Validation errors */
.error {
    color: #c71515!important;
  }

/* X-Large devices (large desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {

}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {

    .order-detail {
        width: 100%;
        padding: 15px!important;
    }
}

/* Small devices (landscape phones, 576px and down) */ {

}


