{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'manage_site/css/manage-site.css' %}">
<link rel="stylesheet" href="{% static 'profiles/css/rating-selector.css' %}">
{% endblock %}

{% block content %}

<section class="admin-section">
    <div class="container">
        <div class="row">
            <div class="text-center mx-auto col-12 col-md-6 admin-form rounded mt-3">
                <h2 class="border-bottom">Rate {{ product }}</h2>
                <h5 class="fw-bold">Happy with this product? Let us know!</h5>
                <form method="POST" id="reviewForm" action="{% url 'rate-product' product_id=product.id %}">
                    {% csrf_token %}
                    <div>
                        {% include "profiles/includes/rating-selector.html" %}
                    </div>
                    <div class="mb-3">
                        {{ form.comment | as_crispy_field }}
                    </div>
                    <a class="white-btn px-3 py-1" href="{% url 'order-history' %}">Cancel</a>
                    <input id="reviewSubmit" class="shop-btn px-3 py-1" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}

{% block postloadjs %}
<!-- Page script and form validation -->
<script src="{% static 'profiles/js/rate_product.js' %}"></script>
{% endblock %}