{% extends "base.html" %}
{% load static %}
{% load basket_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block content %}

<section class="checkout-section">
    <div class="container">
        <div class="row">
            <h2 class="mb-2">Checkout</h2>
        </div>
        <div class="row">

            <div class="col-12 col-md-6 order-md-2 container">
                <div class="row">
                    <h3 class="fs-4">Summary</h3>
                </div>
                {% for item in basket_items %}
                <div class="row item-row my-2">
                    <div class="col-1 fs-6 fw-bold">
                        {{ forloop.counter }}.
                    </div>
                    <div class="img-container d-none d-sm-block col-2 p-0">
                        <img class="basket-img" src="{{ item.product.image_url }}" alt="">
                    </div>
                    <div class="col-11 col-sm-9 ps-3">
                        <div class="container h-100 p-0">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <h3 class="fs-5 fw-bold m-0">{{ item.product.name }}</h3>
                                    <div class="">
                                        <a class="fs-6 text-danger" href="{% url 'delete_item' item.product_id %}"><i class="fa-solid fa-square-xmark"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 star-rating m-0">
                                    <span class="d-none">{{ item.product.rating }}</span>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-12">
                                    <p class="m-0 fs-5 item-price">£{{ item.product.price }}</p>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-12">
                                    {% if item.size_selection %}
                                        <p class="m-0">Size: {{ item.size_selection| upper }}</p>
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-6">
                                    <form id="quantity-form" action="{% url 'update_quantity' item.product_id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="decrement" value="{{ item.quantity }}" data-product_id="{{ item.product_id }}" class="decrement fs-5 fw-bold"><i class="fa-sharp fa-solid fa-minus"></i></button> 
                                        <span class="quantity fs-5 fw-bold">{{ item.quantity }} </span>
                                        <button type="submit" name="increment" value="{{ item.quantity }}" data-product_id="{{ item.product_id }}" class="increment fs-5 fw-bold"><i class="fa-sharp fa-solid fa-plus"></i></i></button></p>
                                        {% if item.size_selection %}
                                        <input type="hidden" name="product_size" value="{{ item.size_selection }}">
                                        {% endif %}
                                    </form>
                                </div>
                                <div class="col-6">
                                    <p class="fw-bold total-price fs-5 m-0 text-end">Total: £{{ item.product.price | calc_total_price:item.quantity }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="d-block line-divide"></span>
                {% endfor %}
            </div>

            <div class="col-12 col-md-6 order-md-1 px-3 mx-auto checkout-form border-end">
                <fieldset>
                    <legend>Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend>Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    <div class="d-flex justify-content-between">
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                    </div>
                    {{ order_form.country | as_crispy_field }}
                </fieldset>
            </div>
            <div class="row order-3">
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                </fieldset>
            </div>

        </div>
    </div>

    <div class="container checkout-btn py-3">
        <div class="row">
            <div class="">
                <a class="fs-6 py-1 px-2 fw-bold continue-shop-btn text-black" href="">Basket</a>
                <a class="fs-6 py-1 px-2 fw-bold shop-btn" href="{% url 'checkout' %}">Secure Payment</a>
            </div>
        </div>
    </div>


</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}