{% extends "base.html" %}
{% load static %}
{% load basket_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block content %}

<section class="checkout-section">
    <div class="container px-3">
        <div class="row">
            <div class="row col-md-6 mb-3 delivery-info">
                <div class="row mb-3">
                    <h2>Thank You!</h2>
                    <p>Your order has been successfully processed.</p>
                    <a class="text-decoration-underline text-black" href="{% url 'products' %}">Continue Shopping</a>
                </div>
                <div class="col-12">
                    <h3 class="border-bottom">Delivery Info</h3>
                    <p class="fw-bold">{{ order.order_number }}</p>
                    <p>{{ order.full_name }}</p>
                    <p>{{ order.street_address1 }}</p>
                    <p>{{ order.street_address2 }}</p>
                    <p>{{ order.county }}</p>
                    <p>{{ order.postcode }}</p>
                    <p>{{ order.country.name }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h3 class="border-bottom">Billing Info</h3>
                    <p>{{ order.full_name }}</p>
                    <p>{{ order.email }}</p>
                    <p>{{ order.phone_number }}</p>
                    <p>{{ order.street_address1 }}</p>
                    <p>{{ order.street_address2 }}</p>
                    <p>{{ order.county }}</p>
                    <p>{{ order.postcode }}</p>
                    <p>{{ order.country.name }}</p>
                </div>
                <div class="row mt-3">
                    <div>
                        <a href="{% url 'home' %}" class="white-btn px-2 py-1">Return Home</a>
                    </div>
                </div>
            </div>
            <div class="row col-md-6">
                <div class="col-12 ">
                    <div class="row">
                        <h3 class="fs-4 fw-bold">Summary</h3>
                    </div>
                    {% for item in order_items %}
                    <div class="row item-row my-2 ps-3">
                        <div class="img-container d-none d-md-block col-3 col-lg-2 p-0">
                            <img class="basket-img" src="{{ item.product.image_url }}" alt="">
                        </div>
                        <div class="col-12 col-md-9 col-lg-10">
                            <div class="container h-100 p-0 d-flex flex-column justify-content-between">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="fs-5 fw-bold m-0">{{ item.product.name }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    {% include 'products/includes/product-rating.html' %}
                                </div>
    
                                <div class="row">
                                    <div class="col-6">
                                        {% if item.product_size %}
                                        <p class="m-0">Size: {{ item.product_size | upper }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-6 text-end">
                                        <p class="quantity mb-0">Qty: {{ item.quantity }} </p>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-4">
                                        <p class="m-0 fs-6 item-price">£{{ item.product.price }}</p>
                                    </div>
                                    <div class="col-8">
                                        <p class="fw-bold total-price fs-6 m-0 text-end">Total:
                                            £{{ item.product.price | calc_total_price:item.quantity }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="pt-2 d-block line-divide"></span>
                    {% endfor %}
                    <div class="row mt-2">
                        <h3 class="fs-4">Cost</h3>
                        <p class="m-0"><strong>Total:</strong> £{{ order.order_total }}</p>
                        <p class="m-0"><strong>Delivery:</strong> £{{ order.delivery_cost }}</p>
                        <p class="mb-3"><strong>Grand Total:</strong> £{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
