@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap");

body{
    background-color: #f8f8f8!important;
}

.admin-section {
    font-family: Nunito, sans-serif;
    max-width: 100vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-section h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900!important;
}

.admin-section h3 {
    font-family: Montserrat, sans-serif!important;
}

.delete-btn {
    background-color: #c71515!important;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    border: none;
}

.delete-btn:hover {
    color: #FFFFFF;
    background-color: #a51212;
    transition: all ease 0.2s;
    cursor: pointer;
}

input,
textarea,
select {
    margin: 15px auto 0 auto;
}

/* Sidebar */

.admin-section  .admin-menu-link:hover {
    color: #000000;
    background-color: #b0a9a9;
}

.admin-menu-link.active {
    color: #FFFFFF;
    background-color: #F0952A !important;;
}

.admin-btn,
.admin-menu-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000000;
    font-weight: 900;
    display: block;
}

.admin-menu-link.active:hover {
    color: #FFFFFF!important;
}

.admin-btn:hover {
    color: #FFFFFF;
    background-color: #417690;
}

/* Delete product img */
.product-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Order detail */
.order-detail {
    width: 50%;
    padding: 20px;
}


/* X-Large devices (large desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {

}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {

    .order-detail {
        width: 100%;
        padding: 15px!important;
    }

    #adminMenu,
    .admin-header {
        text-align: center;
    }

    #adminMenu {
        width: 80%;
        margin: 0 auto 0 auto;
    }
}

/* Small devices (landscape phones, 576px and down) */ 
@media screen and (max-width: 576px) {

}


