@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap');


.profile-section {
    padding-top: 15px;
    background-color: white;
    font-family: Nunito, sans-serif;
}

.profile-section h2,
.profile-section h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

#userForm input,
#userForm select {
    margin-bottom: 5px;
}

.info-panel {
    background: url('/media/mountain.jpg') center;
    background-size: cover;
}

/* Order history */
.order-info-list {
    list-style-type: none;
}

#order-history-panel {
    height: 500px;
}

/* XX-Large devices (larger desktops, 1400px and down) */
@media screen and (max-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {

}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
    .info-panel {
        width: calc(100% - 32px)
    }
}
    