/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap');


/* General rules */
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: table;
    font-family: Nunito, sans-serif;
}

header {
    width: 100vw;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #ebe8e8;
    position: fixed;
    z-index: 100;
}

.clear-content {
    height: 80px;
}

.shop-btn {
    background-color: #F0952A;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #F0952A;
    text-decoration: none;
}

.white-btn {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #000000;
    border-radius: 5px;
    border: 2px solid black;
}

.shop-btn:hover {
    color: #FFFFFF;
    background-color: #d38225;
    transition: all ease 0.2s;
    cursor: pointer;
}

.sale {
    color: #F0952A!important;
}

.grey {
    color: #B4B1B1!important;
}

/* Navigation bar styles */
.navbar {
    font-family: Montserrat, sans-serif;
    padding: 0;
}

h1 {
    font-family: Bungee, sans-serif;
}

.search input {
    border: 1px solid #e8e8e8;
    border-radius: 5px 0 0 5px;
}

.search button {
    font-weight: 600;
    border: 4px solid #F0952A;
    border-left: none;
    background-color: #F0952A;
    border-radius: 0 5px 5px 0;
}

.nav-link {
    font-weight: 900;
    color: #000000;
}

.navbar .nav-link:hover {
    color: #5a5959;
}

#sale-link:hover {
    color: #d38225!important;
}

.logo {
    width: 4rem;
    height: 4rem;
    background: url('/media/logo.png') 50% 75%;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

#profile-icon > .dropdown-menu[data-bs-popper] {
    right: 0!important;
    left: auto;
}

.dropdown-menu a {
    font-weight: 700;
}

.basket-count {
    background-color: #F0952A;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 3px 7px;
    border-radius: 60%;
    vertical-align: top;
    bottom: 2.5px;
    right: 7.5px;
    position: relative;
}

/* Error pages */
.error-section {
    min-height: 70vh;
}

.error-section > .row {
    background: url('/media/mountain.jpg') center bottom;
    background-size: cover;
    width: 50%;
}

.error-section h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

/* Validation errors */
.error {
    color: #c71515!important;
  }


/* Custom bootstrap burger menu styles (Taken from previous portfolio project: https://github.com/KippAD/george-orwell-pub */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 3rem;
    height: 3rem;
    border: none!important;
}

.navbar-toggler:focus {
    border: 0 !important;
    box-shadow: none !important;
}

.navbar-toggler {
     border: 0 !important;
}

/* Footer */

footer {
    background-color: #272727;
    color: white;
    display: table-row;
    height: 0;
}

footer > .container {
    padding-top: 1rem!important;
}

footer ul {
    padding: 0;
}

footer li {
    list-style-type: none;
    font-family: Nunito, sans-serif;

}

footer h4 {
    font-family: Bungee, sans-serif;
}

footer h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
    transition: all ease 0.3s;
    color: #c2bfbf;
}

/* Msg container for toasts */
.message-container {
    background-color: #FFFFFF;
    position: fixed;
    top: 10vh;
    right: 5vw;
    z-index: 99999999999;
}

.toast-header {
    border-bottom: 1px solid #000000;
    font-family: Montserrat, sans-serif;
    color: hsl(0, 0%, 0%);
}

.toast-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* Colors for toast icons */
.toast-success {
    color: #2b902b;
}

.toast-warning {
    color: #ebd726;
}

.toast-error {
    color: #d31e1e;
}

.toast-body {
    font-family: Nunito, sans-serif;
}

/* Star color */
.star-rating i {
    font-size: 1.2rem;
    color: #d8c625;
}

/* Site wide form styles */

input,
select,
textarea {
    margin-bottom: 15px;
}

table a {
    text-decoration: none;
    color: #000000;
}

#mailingListForm .form-control {
    max-width: 200px;
    margin-left: auto;
}


/* XX-Large devices (larger desktops, 1400px and down) */
@media screen and (max-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {

    .collapse {
        position: static!important;
        top: 0;
    }
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
    #mailingListForm {
        text-align: start!important;
    }

    #mailingListForm .form-control {
        margin: 0 auto 10px 0;
    }

    .message-container {
        position: fixed;
        max-width: 75vw;
        top: 12.5vh;
        right: 2.5vw;
        z-index: 99999999999;
    }

    .error-section > .row {
        width: 75%;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
    .error-section > .row {
        width: 90%;
    }
}

