/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap');


/* General rules */
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: table;
}

header {
    width: 100vw;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #ebe8e8;
    position: fixed;
    z-index: 100;
}

.clear-content {
    height: 80px;
}

.shop-btn {
    background-color: #F0952A;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}

.shop-btn:hover {
    color: #FFFFFF;
    background-color: #d38225;
    transition: all ease 0.2s;
}

.sale {
    color: #F0952A!important;
}

/* Navigation bar styles */
.navbar {
    font-family: Montserrat, sans-serif;
    padding: 0;
}

h1 {
    font-family: Bungee, sans-serif;
}

.search input {
    border: 1px solid #989797;
    border-radius: 5px 0 0 5px;
}

.search button {
    font-weight: 600;
    border: 1px solid #989797;
    border-left: none;
    background-color: #F0952A;
    border-radius: 0 5px 5px 0;
}

.nav-link {
    font-weight: 900;
    color: #000000;
}

.logo {
    width: 4rem;
    height: 4rem;
    background: url('https://res.cloudinary.com/dn8zjehza/image/upload/v1672920246/Easy%20Outdoor%20Co/logo2_vxat2m.png');
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

#profile-icon > .dropdown-menu[data-bs-popper] {
    right: 0!important;
    left: auto;
}

/* Custom bootstrap burger menu styles (Taken from previous portfolio project: https://github.com/KippAD/george-orwell-pub */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 3rem;
    height: 3rem;
    border: none!important;
}

.navbar-toggler:focus {
    border: 0 !important;
    box-shadow: none !important;
}

.navbar-toggler {
     border: 0 !important;
}

/* Footer */

footer {
    background-color: #272727;
    color: white;
    display: table-row;
    height: 0;
}

footer > .container {
    padding-top: 1rem!important;
}

footer ul {
    padding: 0;
}

footer li {
    list-style-type: none;
    font-family: Nunito, sans-serif;

}

footer li:hover {
    cursor: pointer;
    transition: all ease 0.3s;
    color: #c2bfbf;
}

footer h4 {
    font-family: Bungee, sans-serif;
}

footer h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

/* Msg container for toasts */
.message-container {
    position: fixed;
    top: 10vh;
    right: 5vw;
    z-index: 99999999999;
}

.toast-header {
    border-bottom: 1px solid #000000;
    font-family: Montserrat, sans-serif;
    color: #000000;
}

/* Colors for toast icons */
.toast-success {
    color: #2b902b;
}

.toast-warning {
    color: #ebd726;
}

.toast-error {
    color: #d31e1e;
}

.toast-body {
    font-family: Nunito, sans-serif;
}

/* Star color */
.star-rating i {
    color: #d8c625;
}

/* Site wide form styles */

input,
select,
textarea {
    margin-bottom: 15px;
}

table a {
    text-decoration: none;
    color: #000000;
}


/* XX-Large devices (larger desktops, 1400px and down) */
@media screen and (max-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {

    .collapse {
        position: static!important;
        top: 0;
    }
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
    #footer-form {
        text-align: start!important;
    }

    .message-container {
        position: fixed;
        max-width: 75vw;
        top: 12.5vh;
        right: 2.5vw;
        z-index: 99999999999;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
    
}

