@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap');

/* Products */
.product-section {
    border-top: 0.5px solid #272727;
    background-color: white;
    padding-top: 15px;
    font-family: Nunito, sans-serif;
}

.product-section h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

.product-img {
    width: 250px;
    height: 350px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Product detail */
.product-info {
    border-right: 20px solid black;
}

.product-info > h2,
.product-info h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.product-info > p {
    font-family: Nunito, sans-serif;
}

.price {
    font-weight: 900;
    color: #272727;
}

.product-detail-img {
    width: 100%;
}

.product-detail-img img {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/* For size selectors */
.size-box {
    font-weight: Nunito, sans-serif!important;
    font-weight: 700;
    width: 50px;
    height: 50px;
    border: 0.5px solid #000000;
    border-radius: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.size-box:hover {
    background-color: #e1e0e0;
}

.btn-check:checked + .size-box {
    background-color: #F0952A;
    color: #ffffff;
}


.size-out, .size-out:hover {
    background-color: #ffffff;
    border: 0.5px solid #b7b6b6;
    color: #b7b6b6;
    cursor: default;
}

.shop-btn {
    background-color: #F0952A;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

/* Product reviews */

.review-img  {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.review-comment {
    margin: 0 auto 20px auto;
    width: 50%;
    color:#525151;
}


/* XX-Large devices (larger desktops, 1400px and down) */
@media screen and (max-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {
    .product-section {
        text-align: center;
    }

    .product-info {
        padding: 20px 0px!important;
        border: none;
    }

    #size-selector {
        justify-content: center;
    }

    #quantity {
        margin: 0 auto;
    }

    .review-comment {
        width: 75%;
    }
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {

}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
    .product-info {
        padding: 20px 10px!important;
    }

    .product-img {
        width: 200px;
        height: 300px;
    }

    .review-comment {
        width: 90%;
    }

}

/* Extra Small devices (landscape phones, 450px and down) */
@media screen and (max-width: 576px) {
    .product-img {
        width: 275px;
        height: 325px;
    }
}
