{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="form-section">
  <div>

      <h2>{% trans "Sign In" %}</h2>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      <p class="m-0">{% blocktrans %}Don't have an account?</p>
      <p>
        <a class="fw-bold text-black" href="{{ signup_url }}">Make one here</a>.{% endblocktrans %}
      </p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <p><a class="button text-black fw-bold secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
        <button class="shop-btn fs-5 px-5 py-1" type="submit">{% trans "Sign In" %}</button>
      </form>

  </div>
</section>

{% endblock %}

{% block postloadjs %}

    {{ block.super }}
    <!-- Sets placeholder of allauth inputs -->
    <script type="text/javascript">
        $('input[name=login]').attr('placeholder', 'Email')
        $('input[name=password]').attr("placeholder", "Password");
    </script>
{% endblock %}