{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="form-section">
    <div class="rounded">
        <h2>{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="m-0 fw-bold">Forgotten your password?</p>
        <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it."</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="shop-btn px-5 py-1" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        <a href="{% url 'contact-form' %}">Contact Us</a>
</section>
{% endblock %}