{% extends "base.html" %}
{% load static %}
{% load basket_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}


<section class="profile-section">
    <div class="container pb-5 d-flex flex-column justify-content-center align-items-center">
        <h2>404 Error <i class="fa-solid fa-screwdriver-wrench"></i></h2>
        <p>We're sorry, something went wrong on our end...</p>
        <div class="pb-4">
            <div class="logo"></div>
        </div>
        <a href="shopt-btn py-1 px-2">Return to Shop</a>
    </div>
</section>


{% endblock %}