{% extends "base.html" %}
{% load static %}
{% load basket_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}


<section class="error-section d-flex flex-column justify-content-center align-items-center">
    <div class="row rounded text-white text-center p-5">
        <h2>500 Error <i class="fa-solid fa-screwdriver-wrench"></i></h2>
        <div class="pb-1">
            <div class="logo"></div>
        </div>
        <p class="mb-1">Something went wrong on our end!
        <p>Please let us know if the problem persists!</p>
        <div>
            <a class="shop-btn py-2 px-2" href="{% url 'contact-form' %}">Contact Us</a>
        </div>
    </div>
</section>


{% endblock %}