{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Sort table -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/132ee46fd9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"
        integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous">
    </script>
    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- Rating script -->
    <script src="{% static 'js/rating.js' %}"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Easy Outdoor Co.</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl container">

            <div class="col-4 d-xl-none">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse p-3 fs-5 order-4 order-xl-3 col-xl-7 justify-content-end"
                id="navbarSupportedContent">
                <form method="GET" action="{% url 'products' %}" class="d-flex search fs-6 mx-auto" role="search">
                    <input class="m-0 w-100 p-2 h-50 mb-0git " name="search" type="search" placeholder="Search for products..."
                        aria-label="Search">
                    <button class="text-white" type="submit">Search</button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link me-3 sale" aria-current="page" href="{% url 'products' %}?sale">Sale</a>
                    </li>


                    <li class="nav-item me-3 dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Clothing
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'products' %}?clothing">All Clothing</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=fleeces_jumpers">Fleeces &
                                    Jumpers</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=jackets_coats">Jackets &
                                    Coats</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=socks">Socks</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=trousers">Trousers</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=t-shirts">T-shirts</a></li>
                        </ul>
                    </li>

                    <li class="nav-item me-3 dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gear
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'products' %}?gear">All Gear</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=equipment">Equipment</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=footwear">Footwear</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=gloves">Gloves</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=headwear">Headwear</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=sunglasses">Sunglasses</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-4 col-xl-1 my-2 order-xl-1">
                <a href="{% url 'home' %}">
                <div background='' class="logo"></div>
                </a>
            </div>

            <div class="col-4 col-xl-1 d-flex justify-content-end order-xl-4">
                <a class="nav-link fs-3 pe-3" href="{% url 'view_basket' %}"><i
                        class="fa-solid fa-cart-shopping">
                        </i>
                        </a>
                {% if user.is_authenticated %}
                <div id="profile-icon" class="dropdown-center">
                    <a class="nav-link fs-3 pe-3" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Account</a></li>
                        <li><a class="dropdown-item" href="{% url 'order_history' %}">Order History</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i
                                    class="fa-solid fa-right-from-bracket"></i>Sign Out</a></li>
                    </ul>
                </div>
                {% else %}
                <a class="nav-link fs-3 pe-3" href="{% url 'account_login' %}"><i
                        class="fa-solid fa-right-to-bracket"></i></a>
                {% endif %}
            </div>

            <a class="navbar-brand d-none d-xl-inline-block order-xl-2 col-xl-3" href="{% url 'home' %}">
                <h1 class="m-0 fs-2">Easy Outdoor Co.</h1>
            </a>
        </nav>
    </header>
    <div class="clear-content"></div>
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container px-3">

            <div class="row">
                <div class="col">
                    <h5 class="mb-1 col-md-2">Help</h5>
                    <ul>
                        <li>FAQ's</li>
                        <li>Contact Us</li>
                        <li>Delivery</li>
                    </ul>
                </div>
                <div class="col col-md-2">
                    <h5 class="mb-1">Shop</h5>
                    <ul>
                        <li class="sale">Sale</li>
                        <li>Clothing</li>
                        <li>Equipment</li>
                    </ul>
                </div>
                <div class="col col-md-2">
                    <h5 class="mb-1">Account</h5>
                    <ul>
                        <li>Profile</li>
                        <li>Billing Info</li>
                        <li>Track Order</li>
                        <li>Order History</li>
                    </ul>
                </div>
                <div id="footer-form" class="col-12 col-md-6 text-end">
                    <h4 class="fs-2 text-white">Easy Outdoor Co.</h4>
                    <form action="{% url 'mailing-list' %}" method='POST' class="py-1">
                        {% csrf_token %}
                        <p class="mb-2">Join our newsletter:</p>
                        <input type="email" id="email" name="email" placeholder="Enter your email...">
                        <input type="submit">
                    </form>
                    <p><i class="fa-regular fa-copyright"></i> 2023 Easy Outdoor Co. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block postloadjs %}
    <script type="text/javascript">
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show())
    </script>
    {% endblock %}
</body>

</html>