{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'manage_site/css/manage-site.css' %}">
{% endblock %}

{% block content %}
<section class="admin-section">
    <div class="order-detail container bg-white rounded text-center">
        <h2>Order Detail</h2>
        <p>
            View the order summary below for order made on <strong>{{ order.date | date:"d/m/y" }}</strong>.
        </p>
        <p class="mx-auto w-75">
            This record should not be altered or deleted.
            Access the Django admin panel if any actions <strong>must</strong> be taken.
        </p>
        <a class="text-decoration-none d-inline-block shop-btn px-2 py-1 mb-3" href="{% url 'admin:index' %}">Django Admin</a>

        <div class="row">
            <div>
                <h3 class="fw-bold">Order Number:</h3>
                <p>{{ order.order_number | lower }}</p>
            </div>
        </div>
        <div class="row mb-3">
            <div>
                <h3 class="fw-bold">Delivery Details:</h3>
                <p class="mb-0">{{ order.full_name }}</p>
                <p class="mb-0">{{ order.email }}</p>
                <p class="mb-0">{{ order.phone_number }}</p>
                {% if order.user_profile %}
                <p class="mb-0">{{ order.user_profile }}</p>
                {% endif %}
                <p class="mb-0">{{ order.street_address1 }},</p>
                {% if order.street_address2 %}
                <p class="mb-0">{{ order.street_address1 }},</p>
                {% endif %}
                {% if order.county %}
                <p class="mb-0">{{ order.county }},</p>
                {% endif %}
                <p class="mb-0">{{ order.postcode }},</p>
                <p class="mb-0">{{ order.town_or_city }},</p>
                <p class="mb-0">{{ order.country.name }}</p>
            </div>
        </div>

        <div class="row">
            <div>
                <h3 class="fw-bold">Items</h3>
                <div class="border-bottom row item-row my-2">
                    <div class="">
                        <div class="p-0">
                            {% for item in order.lineitems.all %}
                            <p class="mb-3">
                                <strong>{{ forloop.counter }}.</strong>
                                <strong>{{ item.product }}</strong> |
                                <strong>Qty:</strong> {{ item.quantity }} |
                                <strong>Size:</strong> {{ item.product_size }} |
                                <strong>£</strong>{{ item.lineitem_total }} |
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <h3 class="fw-bold">Cost</h3>
                    <p class="m-0"><strong>Total:</strong> £{{ order.order_total }}</p>
                    <p class="m-0"><strong>Delivery:</strong> £{{ order.delivery_cost }}</p>
                    <p class="m-0"><strong>Grand Total:</strong> £{{ order.grand_total }}</p>
                </div>
                <a class="white-btn px-3 py-1" href="{% url 'manage-site' %}">Back to Manage</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}