{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'manage_site/css/manage-site.css' %}">
{% endblock %}

{% block content %}

<section class="admin-section">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-12 col-md-6 admin-form rounded mt-3">
                <h2 class="border-bottom">Edit Product Stock</h2>
                <h3 class="fw-bold">{{ object.product }}</h3>
                <p>Adjust the stock values of your product.</p>
                <form id="sizeStockForm" method="POST">
                    {% csrf_token %}
                    {{ form.xs | as_crispy_field }}
                    {{ form.s | as_crispy_field }}
                    {{ form.m | as_crispy_field }}
                    {{ form.l | as_crispy_field }}
                    {{ form.xl | as_crispy_field }}
                    <a class="white-btn px-3 py-1" href="{% url 'manage-site' %}">Cancel</a>
                    <input class="shop-btn px-3 py-1" type="submit" value="Update Stock">
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}
