@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap');

.basket-section {
    padding-top: 15vh;
    background-color: white;
}

.img-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;

}

.basket-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: Nunito, sans-serif;
}

.line-divide {
    border-bottom: 0.5px solid #dddddd;
    width: 75%;
}

.basket-item > h3 {
    font-family: Nunito, sans-serif;
    font-weight: 700;
}

.increment, .decrement {
    border: none;
    background-color: transparent;
    font-weight: 700;
    background-color: #F0952A;
    color: #ffffff;
    border-radius: 50%;
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (max-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {

    .collapse {
        position: static!important;
        top: 0;
    }
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
    #footer-form {
        text-align: start!important;
    }

    .line-divide {
        border-bottom: 0.5px solid #dddddd;
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
    
}

