@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap');

a {
    text-decoration: none;
    font-family: Nunito, sans-serif;
}

.basket-section {
    padding-top: 15px;
    background-color: white;
}

.basket-section h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

.basket-section h3 {
    font-family: Nunito, sans-serif;
    font-weight: 900;
}

.basket-section p {
    font-family: Nunito, sans-serif;
}

.star-rating > i {
    font-size: 1.25rem;
}

.item-price {
    color: #474040;
    font-weight: 900;
}

.img-container {
    position: relative;
}

.img-container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.basket-img {
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.line-divide {
    border-bottom: 0.5px solid #dddddd;
    width: 100%;
}

.orange-btn {
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #989797;
    border-left: none;
    background-color: #F0952A;
    border-radius: 0 5px 5px 0;
}

.basket-item > h3 {
    font-family: Nunito, sans-serif;
    font-weight: 800;
}

.shop-btn {
    background-color: #F0952A;
    color: white;
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    border: none;
}

.continue-shop-btn {
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

.increment,
.decrement {
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: #F0952A;
}

/* XX-Large devices (larger desktops, 1400px and down) */
@media screen and (max-width: 1400px) {}

/* X-Large devices (large desktops, 1200px and down) */
@media screen and (max-width: 1200px) {}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {

    .star-rating > i {
        font-size: 1rem!important;
    }

}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {

    #quantity-form > *,
    .total-price,
    .item-price {
        font-size: 1rem!important;
    }


    .basket-section h3 {
        font-size: 1.25rem;
    }
}