@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;600;700;800;900&display=swap');

.basket-section {
    padding-top: 15vh;
    background-color: white;
}

.img-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;

}

.basket-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: Nunito, sans-serif;
}

.line-divide {
    border-bottom: 0.5px solid #dddddd;
}

.basket-item > h3 {
    font-family: Nunito, sans-serif;
    font-weight: 700;
}

.increment, .decrement {
    border: none;
    background-color: transparent;
    font-weight: 700;
    background-color: #F0952A;
    color: #ffffff;
    border-radius: 50%;
}
