<div class="row border-bottom mb-3">
    <div class="admin-header my-3">
        <h3 class="fw-bold">Order List</h3>
    </div>
</div>
<!-- Sort Table is from https://datatables.net/examples/styling/bootstrap5.html -->
<table id="productOrders" class="table table-striped data-table" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th class="d-none d-md-table-cell">Customer</th>
            <th class="d-none d-md-table-cell">Email</th>
            <th>Grand Total</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.date | date:"d/m/y" }}</td>
            <td class="d-none d-md-table-cell">{{ order.full_name }}</td>
            <td class="d-none d-md-table-cell">{{ order.email }}</td>
            <td>£{{ order.grand_total }}</td>
            <td>
                <a class="fw-bold" href="{% url 'order-details' pk=order.id %}">
                    <i class="fa-solid fa-list"></i>
                    Details
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Date</th>
            <th class="d-none d-md-table-cell">Customer</th>
            <th class="d-none d-md-table-cell">Email</th>
            <th>Grand Total</th>
            <th>Details</th>
        </tr>
    </tfoot>
</table>