<div class="row border-bottom mb-3">
    <div class="admin-header my-3">
        <h3 class="fw-bold">Newsletter Subscriptions</h3>
        <a class="shop-btn px-3 py-1 text-decoration-none" href="{% url 'newsletter-form' %}">Send Newsletter</a>
    </div>
</div>
<!-- Sort Table is from https://datatables.net/examples/styling/bootstrap5.html -->
<table id="newsletterTable" class="table table-striped data-table" style="width:100%">
    <thead>
        <tr>
            <th>Date Subscribed</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for user in mailing_list %}
        <tr>
            <td>{{ user.date_subscribed }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a class="fw-bold" href="{% url 'delete-email' pk=user.id %}">Remove
                    <i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Date Subscribed</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
    </tfoot>
</table>



