{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<section class="product-section mb-3">
    <div class="container">
        <div class="row border-bottom pb-4">
            <div class="col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-4 p-0">
                <div class="product-detail-img d-flex justify-content-center">
                    <img class="mx-auto" src="{{ product.image_url }}" alt="{{ product.name }}">
                </div>
            </div>

            <div
                class="product-info col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-8 d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-start">
                    <h2 class="fs-3">{{ product.name }}</h2>
                    {% include "products/includes/product-rating.html" %}
                    <a class="mb-2"
                        href="{% url 'product-reviews' slug=product.slug %}">{{ product.product_reviews.all | length }}
                        Review(s)</a>
                </div>

                <div>
                    <h3 class="fs-5 mb-0">Description</h3>
                    <p>{{ product.desc }}</p>
                    <p class="price fs-4 mb-0">£{{ product.price }}</p>
                </div>

                <div>
                    <form action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        {% if product.has_sizes %}
                        <h3 class="fw-bold fs-5 mb-2">Select your size:</h3>
                        <div id="size-selector" class="d-flex">
                            {% for key, value in sizes.items %}
                            {% if value %}

                            <p data-key="{{ key }}" data-value="{{ value }}"
                                class="fw-bold stock-warning text-danger mb-0">Hurry! There is only {{ value }} of this
                                size left in stock...</p>

                            <input type="radio" class="btn-check" name="sizes" value="{{ key }}" id="{{ key }}"
                                data-stock="{{ value }}">
                            <label class="size-box" for="{{ key }}">{{ key }}</label>
                            {% else %}
                            <input type="radio" class="btn-check" name="sizes" id="{{ key }}" disabled>
                            <label class="size-box size-out" for="{{ key }}">{{ key }}</label>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="append-warning mb-0 mt-2"></div>
                        {% endif %}
                        <div class="pt-3">
                            {% if stock %}
                            <h3 class="fs-5">Quantity:</h3>
                            <div class="d-flex quantity-container">
                                <div data-value="-" class="rounded-start decrement quantity-input">
                                    <i class="fa-solid fa-minus"></i>
                                </div>
                                <input data-product_id="{{ product.id }}" class="m-0 text-center" type="number"
                                    name="quantity" id="quantity" value="1">
                                <div data-value="+" class="rounded-end increment quantity-input">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
                            {% else %}
                            <h3 class="text-danger">We're sorry, this item is out of stock...</h3>
                            {% endif %}
                        </div>

                        {% if stock %}
                        <div class="pt-3">
                            <button type="submit" class="shop-btn fs-5">Add to Basket <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% else %}
                        <p>We get stock delivered weekly, please check again soon!</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div id="product-carousel" class="row ps-0 mt-3">
            <div class="col-12">
                <!-- Related products -->
                <h2 class="mb-3">Browse Products</h2>
                <div class="d-flex overflow-scroll overflow-hidden mw-100">
                    {% include "products/includes/product-carousel.html" %}
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
{% block postloadjs %}

{{ block.super }}
<script src="{% static 'products/js/product_detail.js' %}"></script>

{% endblock %}