{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

{% for product in products %}

<section class="product-section py-5">
    <div class="container">
        <h2 class="pb-3">All Products</h2>
        <div class="row">
            {% for product in products %}
            <div class="col-3 d-flex flex-column">
                <div class="product-img pb-3">
                    <a href="{% url 'product_detail' slug=product.slug%}">
                        <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    </a>
                </div>
                <h6>{{ product.name }}</h6>
            </div>
            <div>
                <p>£{{ product.price }}{{ product.slug }}</p>

            </div>
            {% endfor %}
        </div>
    </div>

</section>

{% endfor %}

{% endblock %}