{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<section class="product-section mb-3">
    <div class="container">
        <div class="row">
            

        </div>
    </div>

</section>

{% endblock %}
{% block postloadjs %}

    {{ block.super }}
    <!-- Displays stock warning on sized items when low on stock -->
    <script type="text/javascript">
        $( document ).ready(function() {
        });
    </script>
{% endblock %}
